{% extends 'base.html.twig' %}


{% block titre %}<H1>Entreprises ayant proposées un stage</H1>{% endblock %}
{% block contenu %}<p>Ce bloc contiendra la liste des entreprises ayant proposé un stage</p>{% endblock %}