{% extends 'base.html.twig' %}

{% block titre %}<H1>Ma formation</H1>{% endblock %}
{% block contenu %}
<div class="container-fluid">
    <div class="row">
        {% for formation in lesFormations %}
        {% if formation.nom == "DUT Informatique" %}
        <div class="col-md-3 offset-1" style="margin-top:150px;">
            <a href="{{path('proStage_stages_formation',{idFormation:formation.id})}}"><img src="/img/bulleInfo.png" width=75%></a>
        </div>
        {% elseif formation.nom == "DUT TIC" %}
        <div class="col-md-3 offset-1" style="margin-top:150px;">
            <a href="{{path('proStage_stages_formation',{idFormation:formation.id})}}"><img src="/img/bulleLicencePro.png" width=75%></a>
        </div>
        {%else %}
        <div class="col-md-3 offset-1" style="margin-top:150px;">
            <a href="{{path('proStage_stages_formation',{idFormation:formation.id})}}"><img src="/img/bulleDUT.png" width=75%></a>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}