{% extends 'base.html.twig' %}

{% block titre %}<H1>Nos stages : </H1>{% endblock %}

{% block contenu %}
{% for stage in lesStages %}
<div class="card border-info mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      {% if stage.formations[0].nom == "DUT Informatique" %}
      <img src="/img/bulleInfo.png"  width=25% >
      {% elseif stage.formations[0].nom == "DUT TIC" %}
      <img src="/img/bulleLicencePro.png"  width=25% >
      {%else %}
      <img src="/img/bulleDUT.png"  width=25% >
      {% endif %}
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title">{{stage.titre}}</h5>
        <p class="card-text">{{stage.entreprise.nom}} - {{stage.entreprise.description}}</p>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card-body">
          <br/>
          <a href="{{path('proStage_stage',{id:stage.id})}}" class="btn btn-primary">Voir l'offre de stage</a>
        </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}