{% extends 'base.html.twig' %}

{% block titre %}<H1>Nos stages : </H1>{% endblock %}

{% block contenu %}
<div class="card border-info mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/img/bulleInfo.png"  width=25% margin-left="25px">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Stage A</h5>
        <p class="card-text">Entreprise X, Poste M</p>
        <a href="/stages" class="btn btn-primary">Consulter les offres</a>
      </div>
    </div>
  </div>
</div>

<div class="card border-info mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="/img/bulleDUT.png"  width=25% margin-left="25px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Stage B</h5>
              <p class="card-text">Entreprise Z, Poste N</p>
              <a href="/stages" class="btn btn-primary">Consulter les offres</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card border-info mb-3">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="/img/bulleInfo.png"  width=25% margin-left="25px">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Stage c</h5>
                  <p class="card-text">Entreprise X, Poste P</p>
                  <a href="/stages" class="btn btn-primary">Consulter les offres</a>
                </div>
              </div>
            </div>
          </div>
{% endblock %}