<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}ProStages{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block menu %} 
            <a href="/"> Accueil </a> 
            <a href="/formations"> Formations </a> 
            <a href="/entreprises"> Entreprises </a> 
            <a href="/stages"> Tous les stages </a> 
        {% endblock %}
        {% block titre %}{% endblock %}
        {% block contenu %}{% endblock %}
        {% block footer %} Mon footer {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
